<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#4 - Condition.</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="app">
        <div class="app__header">
          <h1>{{priority.title}} - {{priority.value}}</h1>
          <div>
            <p v-if="priority.value === 3">priority = 3</p>
            <p v-else>priority != 3</p>
          </div>
        </div>
        <div class="app__body">
          <button @click="up">{{buttons.next.title}}</button>
          <button v-if="priority.value >= 1" @click="down">
            {{buttons.prev.title}}
          </button>
        </div>
      </div>
    </div>
    <script>
      const App = {
        data() {
          return {
            priority: {
              title: "Priority",
              value: 0,
            },
            buttons: {
              prev: {
                title: "Down",
              },
              next: {
                title: "Up",
              },
            },
          };
        },
        methods: {
          down() {
            if (this.priority.value >= 1) {
              this.priority.value--;
            }
          },
          up() {
            if (this.priority.value < 3) {
              this.priority.value++;
            }
          },
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
